header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/") 
                        img(src="/img/logo.svg", alt="")
            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="") Trang Chủ
                        li 
                            a(href="") Sản Phẩm
                        li 
                            a(href="Đăng Nhập") Đăng Nhập
                        li 
                            a(href="") Về Chúng tôi